<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Document</title>
  <link rel='stylesheet' href='{{url_for("static",filename="estilo.css")}}'/>

</head>
<body>
  <h1>Plantaforma  de  Anuncio de Vagas Oline</h1>
  <hr>
  <img class="img-fluid" id="baner" height="320px" src="{{url_for('static',filename='Dario.jpg')}}"/>
  <h2 class="text-center mt-3">Sobre a plantaforma</h2>
    <p class="lead text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  
  <h2 class="text-center">Vagas</h2>
  <p>
    {% for vaga in vagas %}
    <h3>{{vaga.titulo}}</h3>
    <p>{{vaga.descricao}}</p>
    {% endfor %}
  </p>
  <div class="text-center">
    <buthon class="btn btn-primary">Entrar em Contacto</buthon>
  </div>
</body>
</html>